.clients {
  z-index: 20;
  position: relative;

  padding-top: 45px;
  padding-bottom: 23vw;

  background: #fff;
}

.clients__container {
  position: relative;
  overflow: hidden;
}

.clients-top-triangle {
  position: absolute;
  top: -18.8vw;
  width: 100%;
  height: 19vw;
  background: url(../images/clients-top-triangle.svg) no-repeat bottom;
  background-size: cover;
  z-index: 10;
}

.clients__title {
  text-align: center;
}

.clients__slider {
  margin: 0 auto;
  margin-top: 110px;
  max-width: 877px;
  width: 100%;

}

.clients__slide {
  position: relative;

  max-width: 877px;
  width: 100%;
  min-height: 487px;

  padding-top: 75px;
  padding-left: 225px;
  padding-bottom: 50px;

  background: #efefef;

  opacity: 1;

  animation-duration: 1s, 1s, 1s;
  animation-fill-mode: forwards;
}

.clients__slide-title {
  font-family: $bold;
  line-height: 1.44;

  font-size: 18px;
}

.clients__slide-desc {
  margin-top: 55px;
}

.clients__slide-paragraph {
  max-width: 510px;
  width: 100%;

  font-size: 14px;
  line-height: 1.57;
}

.clients__slide-foto {
  position: absolute;
  left: -90px;
  top: 142px;

  width: 204px;
  height: 204px;
  border-radius: 50%;
  background: url("../images/slider-foto.png") no-repeat center;
  background-size: contain;
}

.clients__ants {
  position: absolute;
  left: 250px / 1920px * 100vw;
  bottom: 0;

  width: 395px / 1920px * 100vw;
  height: 346px / 1920px * 100vw;
  background: url("../images/clients-ants.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.clients__wave {
  position: absolute;
  right: 195px / 1920px * 100vw;
  bottom: 480px / 1920px * 100vw;

  width: 97px / 1920px * 100vw;
  height: 127px  / 1920px * 100vw;
  background: url("../images/clients-wave.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.clients__triangle {
  position: absolute;
  left: 273px / 1920px * 100vw;
  bottom: 418px / 1920px * 100vw;

  width: 74.8px / 1920px * 100vw;
  height: 71.9px  / 1920px * 100vw;
  background: url("../images/clients-triangle.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.clients__min-circle {
  z-index: 20;

  position: absolute;
  left: 683px / 1920px * 100vw;
  top: -71px / 1920px * 100vw;

  width: 71px / 1920px * 100vw;
  height: 71px  / 1920px * 100vw;
  background: url("../images/clients-min-circle.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.clients__big-circle {
  z-index: 20;

  overflow: hidden;

  position: absolute;
  right: 465px / 1920px * 100vw;
  top: -120.5px / 1920px * 100vw;

  width: 353px / 1920px * 100vw;
  height: 353px  / 1920px * 100vw;
  transform: rotate(10.3deg);

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.clients__big-circle-container {
  position: absolute;
  top: -170px;

  width: 353px / 1920px * 100vw;
  height: 353px  / 1920px * 100vw;
  transform: rotate(-10.2deg);

  background: url("../images/clients-big-circle.png") no-repeat center;
  background-size: contain;

}

.clients__btn {
  display: block;
  margin: 0 auto;
  margin-top: 100px;
}

.clients-btn-prev {
  position: absolute;
  top: 390px;
  left: 0;

  width: 29px;
  height: 61px;

  background: url('../images/arrow-prev.png') no-repeat center;

  cursor: pointer;
  border: none;
}

.clients-btn-next {
  position: absolute;
  top: 390px;
  right: 50px;

  width: 29px;
  height: 61px;

  background: url('../images/arrow-next.png') no-repeat center;
  background-size: contain;

  cursor: pointer;
  border: none;
}


.slick-list {
  overflow: visible;
}

.clients__slide {
  opacity: 1;
}

.slick-active {
  animation-duration: 1s, 1s, 1s;
  animation-fill-mode: forwards;
}

//.slide-prev {
//  transform: translateX(-300px) rotateY(-70deg);
//}
//
//.slide-next {
//  transform: translateX(300px) rotateY(70deg);
//}



@keyframes rotate {
  0% {
      opacity: 0;
    }
  100% {
      opacity: 1;
  }
}

@keyframes move-next-right {
  0% {
   transform: translateX(300px) rotateY(70deg);

    }
  100% {
    transform: translateX(0) rotateY(0);

  }
}

@keyframes move-prev-right {
  0% {
   transform: translateX(0) rotateY(0);

    }
  100% {
    transform: translateX(-600px) rotateY(70deg);

  }
}

@keyframes move-next-left {
  0% {
   transform: translateX(-300px) rotateY(-70deg);


    }
  100% {
    transform: translateX(0) rotateY(0);

  }
}

@keyframes move-prev-left {
  0% {
   transform: translateX(0) rotateY(0);


    }
  100% {
    transform: translateX(600px) rotateY(-70deg);
  }
}
