.contacts {

  z-index: 30;

  position: relative;

  position: relative;
  background: #191919;
}

.contacts-top-triangle {
  position: absolute;
  top: -18.8vw;
  width: 100%;
  height: 19vw;
  background: url(../images/contacts-top-triangle.svg) no-repeat;
  background-size: cover;
  z-index: 10;
}

.contacts__title {
  margin-bottom: 100px;

  text-align: center;
  color: #ffffff;
}

.contacts__form {
  max-width: 778px;
  width: 100%;
  margin: 0 auto;

  color: #fff;
}

.contacts__form-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.contacts__form-input-container {
   display: block;

  width: 250px / 778px *100%;
  height: 40px;

  color: #fff;

  background: none;
}

.contacts__form-input {
  display: block;

  width: 100%;
  height: 40px;
  padding-left: 25px;

  color: #fff;

  background: none;
  border: solid 1px #ffffff;
}

.contacts__form-input:focus {
  border-color:  #44d8ff;
}

.contacts__form-textarea-container {
  width: 100%;
  height: 240px;
}

.contacts__form-textarea {
  width: 100%;
  height: 240px;
  margin-top: 22px;
  padding-top: 15px;
  padding-left: 25px;

  color: #fff;

  background: none;
  border: solid 1px #ffffff;
}

.popup__form-textarea:focus {
  border-color:  #44d8ff;
}

.contacts__btn {
  z-index: 21;

  position: relative;

  padding-top: 2px;
  margin: 0 auto;
  margin-top: 71px;

  border: none;

  cursor: pointer;
}

.contacts__form-input-container,
.contacts__form-textarea-container {
  position: relative;
}


.contacts__form-input-container label.error{
  position: absolute;
  top: -15px;
}

.contacts__form-textarea-container label.error {
  position: absolute;
  top: 6px;
  left: 0;
}

.contacts__copyright {
  margin-top: 330px / 1920px * 100vw;
  padding-bottom: 50px / 1920px * 100vw;

  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.2px;
  color: #fff;
  text-align: center;
}

.contacts-man-container {
  position: relative;
  overflow: hidden;
}

.contacts__man {
  z-index: 20;

  position: absolute;
  bottom: -2px;
  left: 123px / 1920px * 100vw;

  width: 963px / 1920px * 100vw;
  height: 593px / 1920px * 100vw;

  background: url("../images/contacts-man.png") no-repeat bottom;
  background-size: contain;

  transform: translate3d(0, 100%, 0);
  animation-fill-mode: forwards;
  animation-duration: 1.5s;
}

.contacts__plus {
  position: absolute;
  left: 0;
  bottom: 0;

  width: 463px / 1920px * 100vw;
  height: 409px / 1920px * 100vw;

  background: url("../images/contacts-plus.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}


.contacts__wave {
  position: absolute;
  left: 151px / 1920px * 100vw;
  bottom: 602px / 1920px * 100vw;

  width: 59px / 1920px * 100vw;
  height: 133px / 1920px * 100vw;

  background: url("../images/contacts-wave.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.contacts__triangle {
  position: absolute;
  right: 577px / 1920px * 100vw;
  bottom: 138px / 1920px * 100vw;

  width: 74.8px / 1920px * 100vw;
  height: 72px / 1920px * 100vw;

  background: url("../images/contacts-triangle.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.contacts__ants {
  position: absolute;
  right: 0;
  bottom: 163px / 1920px * 100vw;

  width: 331px / 1920px * 100vw;
  height: 357px / 1920px * 100vw;

  background: url("../images/contacts-ants.png") no-repeat center;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.contacts__square {
  position: absolute;
  right: 176px / 1920px * 100vw;
  top: -100px / 1920px * 100vw;

  width: 86px / 1920px * 100vw;
  height: 86px / 1920px * 100vw;

  background: url("../images/contacts-square.png") no-repeat center;
  background-size: contain;

  z-index: 20;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 0.5s;
}

.error {
  border-color: #f24841;
}

label.error {
  color: #f24841;
}

label#fotos__area-error {
  display: block;
  text-align: center;
}

.valid {
  border-color: #52e16c;
}

@media (max-width: 1028px) {
  .contacts__wave {
    display: none;
  }
}

@media (max-width: 640px) {
  label.error {
    left: 0;
    position: absolute;
    bottom: -17px;
  }

  label#fotos__area-error {
     bottom: -39px;
  }

  .contacts {
    padding-top: 40px;
    padding-bottom: 0;
  }

  .contacts__form-container {
    flex-direction: column;
  }

  .contacts__title {
    margin-bottom: 50px;
  }

  .contacts__form-input-container {
    position: relative;
    width: 100%;
    margin-bottom: 20px;
  }

  .contacts__form-textarea-container {
    position: relative;
  }

  .contacts__form-input {
    width: 100%;
    margin-bottom: 20px;
  }

  .contacts__container {
    padding: 0 12px;
  }

  .contacts__man {
    display: none;
    left: -123px / 1920px * 100vw;

    width: 1163px / 1920px * 100vw;
    height: 793px / 1920px * 100vw;
  }
}
