.header {
  min-height: 64px;
  padding-top: 40px;
  background: #191919;
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-logo {
  flex-shrink: 0;
  display: block;
  font-family: $bebas;
  font-size: 24px;
  letter-spacing: 1.2px;
  color: #ffffff;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;

  max-width: 587px;
  width: 100%;
}

.main-nav a {
  font-size: 16px;
  color: #fff;

  transition: color 0.3s;

  &:hover {
    color: #00dbce;
  }
}

.main-nav__close {
  display: none;
}

.header__tel {
  display: block;
  flex-shrink: 0;
}

.header__tel a {
  color: #fff;
  font-size: 18px;
}

.menu-btn {
  display: none;
}

.main-nav-close {
  right: -51vw;
}

.main-nav-open {
  right: 0;
}

@media (max-width: 768px) {
  .main-nav {
    z-index: 200;

    position: fixed;
    right: -100%;
    top: 0;

    display: block;
    flex-direction: column;
    padding-left: 8%;
    padding-top: 90px;

    width: 50vw;
    height: 100vh;

    background: rgba(0,0,0,.7);

    transition: right 0.5s;

  }

  .main-nav__item {
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;

    margin-bottom: 40px;

    font-size: 18px;
  }

  .menu-btn {
    display: block;

    width: 37px;
    height: 37px;

    background: url('../images/menu-btn.png') no-repeat center;
    background-size: contain;
  }

  .main-nav__close {
    position: absolute;
    right: 30px;
    top: 30px;

    display: block;

    width: 30px;
    height: 30px;

    background: url('../images/main-nav-close.png') no-repeat center;
    background-size: contain;
  }

  .main-nav-close {
  right: -51vw;
}

.main-nav-open {
  right: 0;
}
}

@media (max-width: 600px) {
  .main-nav {
     padding-top: 60px;
  }

  .main-nav__item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}

@media (max-width: 400px) {
  .main-nav {
    width: 100%;
    padding-left: 0;
    padding-right: 0;
  }

  .main-nav__item {
    text-align: center;
  }
}
