.popup {
  position: fixed;
  z-index: 100;
}

.overlay {
  position: fixed;
  bottom: 0;
  left: 0;
  top: 0;
  right: 0;
  z-index: 100;
  overflow: auto;
  background: rgba(0,0,0,.5);
}

.popup-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background: #fff;

  max-width: 615px;
  width: 100%;
  min-height: 721px;
}

.popup__title {
  margin-top: 65px;

  text-align: center;
  font-family: $bebas;
  font-size: 36px;
  line-height: 40px;
}

.popup__descr {
  margin-top: 20px;

  text-align: center;
  font-size: 14px;
  line-height: 22px;
}

.popup__man {
  position: absolute;
  z-index: 2;

  bottom: 0;
  left: 50%;
  transform: translate(-50%);

  width: 444px;
  height: 425px;
  background: url('../images/popup-man.png') no-repeat bottom;
  background-size: contain;
}

.popup__circle {
  position: absolute;
  z-index: 1;

  overflow: hidden;

  bottom: 100px;
  left: 50%;
  transform: translate(-50%);

  width: 405px;
  height: 405px;
  background: #191919;
  border-radius: 50%;
}

.popup__plus {
  position: absolute;
  bottom: 161px;
  left: -95px;

  width: 594px;
  height: 635px;

  background: url('../images/popup-plus.png') no-repeat center;
  background-size: contain;
}

.popup__triangle {
  position: absolute;
  z-index: 40;

  bottom: 249px;
  right: 69px;


  width: 72px;
  height: 76px;

  background: url('../images/popup-triangle.png') no-repeat center;
  background-size: contain;
}

.popup__ants {
  position: absolute;
  z-index: -1;

  bottom: 205px;
  left: 40px;


  width: 366px;
  height: 346px;

  background: url('../images/popup-ants.png') no-repeat center;
  background-size: contain;
}

.popup__btn {
  z-index: 100;

  position: absolute;
  right: -29px;
  top: -29px;

  width: 58px;
  height: 58px;
  border-radius: 50%;

  cursor: pointer;

  background: #fca9ff;

  overflow: hidden;
}

.project__btn {
  margin-top: 60px;
}

.popup__btn-line-1,
.popup__btn-line-2 {
  position: absolute;
  top: 27px;
  right: 16px;

  border-radius: 2px;

  width: 27px;
  height: 4px;
  background: #000;
}

.popup__btn-line-1 {
  transform: rotate(45deg);
}

.popup__btn-line-2 {
  transform: rotate(-45deg);
}

.popup-form .contacts__form {
  margin-top: 31px;
}

.popup__form-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;

  max-width: 360px;
  width: 100%;
  margin: 0 auto;
}

.popup-form__descr {
  max-width: 306px;
  margin-left: auto;
  margin-right: auto;
}


.popup__form-input-container .contacts__form-input {
  padding-left: 16px;
  border: 1px solid #6f6f6f;
  color: #000;
}

.popup__form-input-container {
  position: relative;
  width: 100%;
  margin-bottom: 14px;
}

.popup__form-input-container label.error {
  position: absolute;
  left: 0;
  top: -13px;
}

.popup__form-input-container:last-child {
  margin-bottom: 0;
}

.popup__form-textarea-container {
  position: relative;
}

.popup__form-textarea-container label.error {
  position: absolute;
  left: 0;
  top: -13px;
}

.popup__form-textarea-container .contacts__form-textarea {
  height: 183px;
  padding-left: 16px;
  border: 1px solid #6f6f6f;
  margin-top: 0;

  color: #000;
}

.popup__container-form {
  padding-bottom: 30px;
}

.popup__form-input-container .error {
  border-color: #f24841;
}

.popup__form-textarea-container .error {
  border-color: #f24841;
}

.popup__form-input-container label.error {
  color: #f24841;
}

.popup__form-input-container label#fotos__area-error {
  display: block;
  text-align: center;
}

.popup__form-input-container .valid {
  border-color: #52e16c;
}

.popup__form-textarea-container .valid {
  border-color: #52e16c;
}

.popup__container-form .contacts__btn {
  margin-top: 48px;
}

.popup__container-form-wrapper {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);

  background: #fff;

  max-width: 615px;
  width: 100%;
  min-height: 721px;
}

.popup-form-elements-wrapper {
  z-index: -1;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow: hidden;
}

.popup-form-ants {
   position: absolute;
  z-index: -1;

  bottom: -205px;
  left: -205px;


  width: 366px;
  height: 346px;

  background: url('../images/popup-ants.png') no-repeat center;
  background-size: contain;
}

.popup-form-triangle {
  position: absolute;
  z-index: -1;

  bottom: 255px;
  right: 36px / 1920px * 100vw;


  width: 53px;
  height: 56px;

  background: url('../images/popup-form-triangle.png') no-repeat center;
  background-size: contain;
}

.popup-form-square {
   position: absolute;
  z-index: -1;

  top: 80px;
  left: 47px / 1920px * 100vw;


  width: 44px;
  height: 44px;

  background: url('../images/popup-form-square.png') no-repeat center;
  background-size: contain;
}

.popup__btn-container {
  text-align: center;
}

.popup-container-project {
  z-index: 500;
  position: absolute;
  left: 50%;
  top: 40px;
  transform: translateX(-50%);

  min-height: 7356px;

  max-width: 1146px;
  width: 100%;
  margin-bottom: 20px;

  padding-bottom: 90px;

  background: #fff;
}

.popup__project-img {
  height: 7015px;
  overflow: auto;
}

.popup__project-img img {
  display: block;
  margin: 0 auto;
}

.popup-project-descr {
  margin-bottom: 30px;
}

@media (max-width: 1480px) {
  .popup-container {
    max-width: 575px;
    min-height: 671px;
  }

  .popup-container-project {
    max-width: 1146px;
    width: 100%;
  }

  .popup__container-form {
    min-height: 600px;
  }

  .popup__container-form-wrapper {
   max-width: 575px;
    min-height: 600px;
}

  .popup__man {
    width: 404px;
    height: 395px;
  }

  .popup__circle  {
    width: 365px;
    height: 365px;
  }

  .popup__ants {
    width: 326px;
    height: 306px;
  }

  .popup__container-form {
    height: 500px;
    overflow: auto;
  }

  .popup-form-ants {
    display: none;
  }
}

@media (max-width: 1367px) {
  .popup-container {
    max-width: 475px;
    min-height: 571px;
  }

  .popup__container-form-wrapper {
   max-width: 475px;
    min-height: 571px;
}

  .popup-container-project {
    max-width: 1146px;
    width: 100%;

    height: auto;
    min-height: auto;
  }

  .popup__title-project {
    margin-top: 30px;
  }

  .popup-project-descr {
    margin-top: 10px;
    margin-bottom: 15px;
  }

//  .popup__project-img {
//    height: 350px;
//  }

  .popup__man {
    width: 304px;
    height: 315px;
  }

  .popup__circle  {
    width: 305px;
    height: 305px;

    bottom: 50px;
  }

  .popup__ants {
    width: 296px;
    height: 276px;

    bottom: 125px;
    left: 20px;
  }

  .popup__plus {
    bottom: 0;
    left: -165px;

    width: 394px;
    height: 435px;

  }

  .popup__triangle {
    bottom: 209px;
    right: 49px;


    width: 52px;
    height: 56px;
  }
}

@media (max-width: 1172px) {
  .popup-container-project {
    width: 92vw;
  }

  .popup-container-project {
    padding-left: 12px;
    padding-right: 12px;
  }

  .popup__project-img {
  }

  .project__btn {
    margin-top: 60px;
  }


}

@media (max-width: 900px) {
  .popup__project-img img {
    width: 800px;
  }

  .popup__project-img {
    min-height: auto;
    height: auto;
  }

  .popup-container-project {
    height: auto;
    min-height: auto;
    padding-left: 12px;
    padding-right: 12px;
  }
}

@media (max-width: 640px) {
  .popup-form .contacts__form-input {
    margin-bottom: 0;
  }
}

@media (max-width: 550px) {


  .popup__container-form-wrapper {
    max-width: 280px;
    min-height:  320px;
  }

  .popup-container-project {
    max-width: 90vw;
    width: 90vw;
    }

  .popup__container-form {
    padding-left: 12px;
    padding-right: 12px;
  }

  .popup__title {
    margin-top: 28px;

    font-size: 26px;
  }

  .popup__btn {
    right: -23px;
    top: -23px;

    width: 45px;
    height: 45px;

  }

  .popup-form .popup__btn {
    top: -113px;
  }

  .popup__btn-line-1,
  .popup__btn-line-2 {
    width: 23px;
    height: 3px;

    left: 11px;
    top: 21px;
  }

  .popup__man {
    width: 144px;
    height: 145px;
  }

  .popup__circle  {
    width: 145px;
    height: 145px;

    bottom: 20px;
  }

  .popup__ants {
    width: 96px;
    height: 96px;

    bottom: 85px;
    left: 30px;
  }

  .popup__triangle {
    bottom: 90px;
    right: 59px;


    width: 22px;
    height: 26px;
  }

  .popup__plus {
    bottom: 20px;
    left: -35px;

    width: 194px;
    height: 235px;

  }

  .popup-form-square {
    display: none;
  }

  .popup-form-triangle {
    display: none;
  }
}

