.portfolio {
  position: relative;
  padding-top: 19vw;
  padding-bottom: 32vw;

  background: #191919;
}

.portfolio__container {
  max-width: 1202px / 1920px * 100vw;
  width: 100%;
  margin: 0 auto;
}

.portfolio__title {
  color: #fff;
}

.portfolio__items {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;

  margin-top: 110px;
}

.portfolio__item {
  display: block;
  width: 586px / 1920px * 100vw;
  height: 481px / 1920px * 100vw;

  padding: 0;


  margin-bottom: 20px / 1920px * 100vw;

  animation-duration: 1s;
  animation-fill-mode: forwards;
  opacity: 0;

  transition: 0.5s;
}

.portfolio__item:hover {
  padding: 23px / 1920px * 100vw;
}

.portfolio__item-border {
  border-width: 1px;
  border-style: solid;
  border-color: rgba(255, 255, 255, 0);

  transition: border-color 0.5s;
}

.portfolio__item:hover .portfolio__item-border {
  border-color: rgba(255, 255, 255, 1);
}

.portfolio__item-1 {
  background: url(../images/portfolio-item-1.png) no-repeat center;
  background-size: 110%;
}

.portfolio__item-2 {
  align-items: center;
  padding: 0;

  transition: border 0.5s;
}

.portfolio__item-2:hover {
  border: 20px solid transparent;
  border-image: linear-gradient(to bottom, #c1709d 0%, #9273aa 100%);
  border-image-slice: 1;
}

.portfolio__item-border {
  position: relative;
  z-index: 2;

  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.portfolio__item-2 .portfolio__item-border {
  border: none;
}

.portfolio__item-border-container {
  position: relative;
  z-index: 2;

  display: inline-block;
  margin: 0 auto;
}

.portfolio__item-title {
  font-family: $bebas;
  font-size: 36px;
  color: #fff;
  letter-spacing: 1.8px;
  text-align: center;
}

.portfolio__item-desk {
  max-width: 298px;
  width: 100%;
  margin: 0 auto;
  margin-top: 20px;

  font-size: 14px;
  line-height: 1.57;
  text-align: center;
  color: #fffefe;
}

.portfolio__item-btn {
  width: 128px;
  height: 42px;
  padding-top: 4px;
  margin: 0 auto;
  margin-top: 54px;

  color: #fffefe;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;

  border-radius: 20.8px;
  border: solid 2px #00dbce;
}

.portfolio__item-3 {
  background: url(../images/portfolio-item-2.png) no-repeat center;
  background-size: 110%;
}

.portfolio__item-4 {
  position: relative;
  background: url(../images/portfolio-item-4.png) no-repeat center;
  background-size: 110%;

  &::after {
    content: '';
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to top left, #d4e28e, #2d868c);
    opacity: 0.8;
  }
}

.portfolio__item-logo {
  position: relative;
  z-index: 20;
  width: 185px / 1920px * 100vw;
  height: 185px / 1920px * 100vw;
  margin:  0 auto;
  background: url("../images/portfolio-logo.png") no-repeat center;
  background-size: contain;
}

.portfolio__btn {
  margin-top: 80px;
}

.portfolio__man {
  position: absolute;
  right: 304px / 1920px * 100vw;
  bottom: -24px / 1920px * 100vw;

  width: 628px / 1920px * 100vw;
  height: 674px / 1920px * 100vw;

  background: url('../images/portfolio-man.png') no-repeat;
  background-size: contain;

  z-index: 11;

  animation-duration: 1s;
  animation-fill-mode: forwards;

  transform: translate3d(0, 100%, 0);
}

.portfolio__plus {
  position: absolute;
  right: 85px / 1920px * 100vw;
  bottom: 140px / 1920px * 100vw;

  width: 977px / 1920px * 100vw;
  height: 412px  /1920px * 100vw;

  background: url(../images/portfolio-plus.png) no-repeat bottom;
  background-size: contain;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.portfolio__square {
  position: absolute;
  right: 258px / 1920px * 100vw;
  bottom: 453px / 1920px * 100vw;

  width: 86px / 1920px * 100vw;
  height: 86px / 1920px * 100vw;

  background: url('../images/portfolio-square.png') no-repeat;
  background-size: contain;

  z-index: 10;

  opacity: 0;
  animation-fill-mode: forwards;
  animation-duration: 1s;
}

.portfolio__circle {
  position: absolute;
  right: 144px / 1920px * 100vw;
  bottom: 1079px / 1920px * 100vw;

  width: 51px / 1920px * 100vw;
  height: 51px / 1920px * 100vw;

  background: url('../images/portfolio-circle.png') no-repeat;
  background-size: contain;

  z-index: 10;
}

.portfolio__wave {
  position: absolute;
  left: 130px / 1920px * 100vw;
  bottom: 1282px / 1920px * 100vw;

  width: 58px / 1920px * 100vw;
  height: 129px / 1920px * 100vw;

  background: url('../images/portfolio-wave.png') no-repeat;
  background-size: contain;

  z-index: 10;
}

@media (max-width: 1024px) {
  .portfolio__container {
    max-width: 700px;
    width: 100%;
  }

  .portfolio__item {
    width: 288px;
    height: 236px;
    padding: 12px;
    margin-bottom: 30px;
  }

  .portfolio__item-desk {
    max-width: 224px;
  }

  .portfolio__item-btn {
    margin-top: 20px;
  }

  .portfolio__item-logo {
    width: 89px;
    height: 89px;
  }
}

@media (max-width: 768px) {
  .portfolio {
    padding-bottom: 38vw;
  }

  .portfolio__title {
    margin-left: 20px;
  }

  .portfolio__items {
    margin-top: 60px;
  }

  .portfolio__item-2  {
    order: -1;
  }

  .portfolio__wave {
    display: none;
  }

  .portfolio__circle {
    display: none;
  }

  .portfolio__btn {
    margin-top: 40px;
    margin-left: 20px;
  }

}


