.services {
  position: relative;

  min-height: 600px;
  padding-top: 20vw;
  padding-bottom: 100px;

  background: #efefef;
}

.services__title {
  text-align: center;
}

.services__items {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  margin-top: 138px;
}

.services__item {
  max-width: 296px;
  width: 100%;
}

.services__foto {
  z-index: 10;

  position: relative;

  width: 291px;
  height: 291px;
  margin: 0 auto;

  margin-bottom: 60px;
}

.services__foto-1 {
  background: url("../images/services-item-1.png") no-repeat center;
}

.services__foto-2 {
  background: url("../images/services-item-2.png") no-repeat center;
}

.services__foto-3 {
  background: url("../images/services-item-3.png") no-repeat center;
}

.services__item-title {
  margin-bottom: 10px;

  text-align: center;

  font-family: $bebas;
  font-size: 30px;
  line-height: 2.67;
  letter-spacing: 1.5px;
}

.services__item-text {
  font-size: 14px;
  line-height: 1.57;
  text-align: center;
}

.services__btn {
  display: block;
  margin: 0 auto;
  margin-top: 118px;
}

.services__bottom-triangle {
  position: absolute;
  bottom: -18.8vw;

  width: 100%;
  height: 19vw;

  background: url('../images/services-bottom-triangle.svg') no-repeat;
  background-size: cover;

  transform: rotate(180deg);

  z-index: 10;
}

.services__ants {
  position: absolute;
  top: 100px;
  left: -41px;
  width: 395px / 1920px * 100vw;
  height: 346px / 1920px * 100vw;;
  background: url('../images/services-ants.png') no-repeat;
  background-size: contain;
}

.services__triangle {
  position: absolute;
  top: 185px;
  right: 216px;
  width: 127.1px / 1920px * 100vw;
  height: 118.9px / 1920px * 100vw;;
  background: url('../images/services-triangle.png') no-repeat;
  background-size: contain;
}

.services__wave {
  z-index: 11;

  position: absolute;
  right: 252px / 1920px * 100%;
  bottom: -50px  / 1920px * 100vw;
  width: 117px / 1920px * 100vw;
  height: 105px / 1920px * 100vw;
  background: url('../images/services-wave.png') no-repeat;
  background-size: contain;
}
