doctype html
head
  title lp
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.0/slick/slick-theme.css")
  link(rel="stylesheet" href="stylesheets/app.css")
body
  header.header
    .container
      a(href="#").header-logo
        | Code story
      .main-nav
        a(href="#").main-nav__item
          | Main
        a(href="#").main-nav__item
          | About
        a(href="#").main-nav__item
          | Services
        a(href="#").main-nav__item
          | Clients
        a(href="#").main-nav__item
          | Contact
      .header__tel
        a(href="tel: 8 800 800 800")
          | 8 800 800 800
  .top-block
    .container.top-block__container
      h1.top-block__title
        | DESIGN AND WEB DEVELOPMENT STUDIO
      .top-block__descr
        | The websites made by us are a step ahead of time.
        br
        | We develop the high load ngines and services and increase your online sales.
      a(href="#").top-block__btn.btn.hvr-radial-out
        | Order Now
    .top-block__man
    .top-block__triangle
    .top-block__circle
    .top-block__wave
    .top-block__ants
  .who
    .who-top-triangle
    .container.who__container
      .who__big-circle
      .who__card
        .who__card-woman
        .who__card-plus
        .who__card-square
      h1.who__title
        | Who we are
      .who__desc
        .who__desc-paragraph.paragraph
          | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
        .who__desc-paragraph.paragraph
          | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
        .who__desc-paragraph.paragraph
          | Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
    .who__wave
    .who__triangle
    .who__min-circle
    .who__ants
      .who__ants-container
    .who-bottom-triangle
  .services
    .container
      h1.services__title
        | Services
      .services__items
        .services__item
          .services__foto.services__foto-1
          .services__item-text-container
            .services__item-title
              | Web development
            .services__item-text
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        .services__item
          .services__foto.services__foto-2
          .services__item-text-container
            .services__item-title
              | SEO Promotion
            .services__item-text
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        .services__item
          .services__foto.services__foto-3
          .services__item-text-container
            .services__item-title
              | UI / UX Design
            .services__item-text
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      a(href="#").services__btn.btn.hvr-radial-out
        | Start
      .services__ants
      .services__triangle
    .services__wave
    .services__bottom-triangle
  .portfolio
    .portfolio__container
      h1.portfolio__title
        | Portfolio
      .portfolio__items
        a(href="#").portfolio__item.portfolio__item-1
          .portfolio__item-border
        a(href="#").portfolio__item.portfolio__item-2
          .portfolio__item-border
            .portfolio__item-border-container
              .portfolio__item-title
                | lEVELS MALL
              .portfolio__item-desk
                | It is a long established fact that a reader will be distracted by the readable content of a page
              .portfolio__item-btn
                | See all
        a(href="#").portfolio__item.portfolio__item-3
          .portfolio__item-border
        a(href="#").portfolio__item.portfolio__item-4
          .portfolio__item-border
            .portfolio__item-logo
      a(href="#").portfolio__btn.btn.hvr-radial-out
        | Order now
      .portfolio__wave
      .portfolio__circle
      .portfolio__square
      .portfolio__plus
      .portfolio__man
    .portfolio__bottom-triangle
  .clients
    .clients-top-triangle
    .container.clients__container
      h1.clients__title
        | Clients
      .clients__slider
        .clients__slide
          .clients__slide-foto.clients__slide-foto-1
          .clients__slide-title
            | Anna
          .clients__slide-desc
            .clients__slide-paragraph.paragraph
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
            .clients__slide-paragraph.paragraph
              | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            .clients__slide-paragraph.paragraph
              | Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        .clients__slide
          .clients__slide-foto.clients__slide-foto-2
          .clients__slide-title
            | Anna
          .clients__slide-desc
            .clients__slide-paragraph.paragraph
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
            .clients__slide-paragraph.paragraph
              | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            .clients__slide-paragraph.paragraph
              | Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        .clients__slide
          .clients__slide-foto.clients__slide-foto-3
          .clients__slide-title
            | Anna
          .clients__slide-desc
            .clients__slide-paragraph.paragraph
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
            .clients__slide-paragraph.paragraph
              | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
            .clients__slide-paragraph.paragraph
              | Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      .clients__slider-arrows
      a(href="#").clients__btn.btn.hvr-radial-out
        | Order now
    .clients__big-circle
      .clients__big-circle-container
    .clients__min-circle
    .clients__triangle
    .clients__wave
    .clients__ants
  .contacts
    .contacts-top-triangle
    .container.contacts__container
      h1.contacts__title
        | Contacts
      form(action="#" method="#").contacts__form#contacts__form
        .contacts__form-container
          input(type="text" name="name" placeholder="Name").contacts__form-input
          input(type="tel" name="phone" placeholder="Phone").contacts__form-input
          input(type="email" name="email" placeholder="E-mail").contacts__form-input
          textarea(name="fotos__area" placeholder= "Ваше сообщение").popup__form-textarea
          button(type="submit" href="#").btn.contacts__btn.hvr-radial-out
            | Start
      .contacts__copyright
        | © codestory 2017
    .contacts__man
    .contacts__plus
    .contacts__wave
    .contacts__ants
    .contacts__square
    .contacts__triangle
  .popup.hidden
    .overlay
      .popup-container
        .popup__btn.hvr-radial-out
          .popup__btn-line-1
          .popup__btn-line-2
        .popup__title
          | thanks! cheers!
        .popup__descr
          | We will get back to you as soon as possible...
        .popup__man
        .popup__ants
        .popup__circle
          .popup__plus
        .popup__triangle
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
