doctype html
head
  title Sunlight
  meta(http-equiv="Content-Type" content="text/html; charset=utf-8")
  meta(name="viewport" content="width=device-width")
  meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.css")
  link(rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick-theme.css")
  link(rel="stylesheet" href="stylesheets/app.css")
body
  header.header
    .container
      a(href="#").header-logo
        | Code story
      .main-nav
        a(href="#").main-nav__item
          | Main
        a(href="#").main-nav__item
          | About
        a(href="#").main-nav__item
          | Services
        a(href="#").main-nav__item
          | Clients
        a(href="#").main-nav__item
          | Contact
      .heade__.tel
        a(href="tel: 8 800 800 800")
          | 8 800 800 800
  .top-block
    .container.top-block__container
      .top-block__title
        | DESIGN AND WEB DEVELOPMENT STUDIO
      .top-block__descr
        | The websites made by us are a step ahead of time. We develop the high load ngines and services and increase your online sales.
      a(href="#").top-block__btn.btn
        | Order Now
    .top-block__man
    .top-block__triangle
    .top-block__circle
    .top-block__wave
    .top-block__wave
  .who
    .container.who__container
      .who__wrapper-1
        .who__card
          .who__card-woman
          .who__card-plus
          .who__card-square
      .who__wrapper-2
        .who__title
          | Who we are
        .who__desc
          .who__desc-paragraph
            | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.
          .who__desc-paragraph
            | Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy.
          .who__desc-paragraph
            | Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
      .who__wave
      .who__big-circle
      .who__triangle
      .who__min-circle
  .services
    .container
      .services__title
        | Services
      .services__items
        .services__item
          .services__foto
          .services__item-text-container
            .services__item-title
              | Web development
            .services__item-text
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        .services__item
          .services__foto
          .services__item-text-container
            .services__item-title
              | SEO Promotion
            .services__item-text
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
        .services__item
          .services__foto
          .services__item-text-container
            .services__item-title
              | UI / UX Design
            .services__item-text
              | It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
      a(href="#").services__btn.btn
        | Start
  script(src="javascripts/vendor.js")
  script(src="javascripts/app.js")

  script.
    require('initialize');
