@font-face {
	font-family: 'Futura PT Book';
	src: url('../fonts/FuturaPT-Book.eot');
	src: url('../fonts/FuturaPT-Book.eot?#iefix') format('embedded-opentype'),
		url('../fonts/FuturaPT-Book.woff') format('woff'),
		url('../fonts/FuturaPT-Book.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}