$regular: 'Roboto-Regular';
$bold: 'Roboto-Bold';
$bebas: 'AA-BebasNeue';


body {
  font-family: $regular, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

.container {
  position: relative;
  overflow: hidden;

  max-width: 1200px;
  padding: 0 30px;
  margin: 0 auto;
}

