.btn {
  display: inline-block;
  width: 196px;
  height: 55px;

  margin-top: 66px;

  text-align: center;
  color: #000;
  font-size: 18px;
  padding-top: 17px;

  transition-duration: 0.3s;
  //border: 2px solid #00dbce;
  border-radius: 27.5px;
  background-color: #00dbce;
  overflow: hidden;
}

.btn:hover {
  background: none;
  color:#fff;
}


.project__btn {
  display: inline-block;
  width: 196px;
  height: 55px;

  margin-top: 66px;

  text-align: center;
  color: #000;
  font-size: 18px;
  padding-top: 17px;

  border-radius: 27.5px;
  background-color: #00dbce;
  overflow: hidden;
}

.project__btn:hover {
  background: none;
}

.top-block__btn:hover {
  color: #fff;
}

.portfolio__btn:hover {
  color: #fff;
}

.contacts__btn:hover {
  color: #fff;
}

.clients__btn:hover {
  color: #000;
}

.services__btn:hover {
  color: #000;
}

.popup-form__btn:hover {
  color: #000;
}
